@model Lab_04_ED.Models.Admin

@{
    ViewData["Title"] = "IniciarSesion";
}

<h1>Iniciar Sesion</h1>

<h4>Encargado</h4>
<div>
    <a asp-action="Principal" style="position:absolute; left: 350px; top:100px" class="btn btn-outline-info" role="button">Regresar</a>
</div>
<hr />
<p> Usuario: Admin   &   Contraseña: admin
    </p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ComprobarDatos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usiario" class="control-label"></label>
                <input asp-for="Usiario" class="form-control" />
                <span asp-validation-for="Usiario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar Sesion" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>



