@model Lab_04_ED.Models.Admin

@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1>Menu Principal</h1>
    <h2>
        Administrador De Tareas 
    </h2>

</div>
<hr /> <hr /> <hr />
<a asp-action="IniciarSesion" class="btn btn-dark btn-lg btn-block" role="button">Encargado del Proyecto </a>
<hr />
<a asp-action="IniciarDesarrollador" class="btn btn-dark btn-lg btn-block" role="button">Desarrollador del Proyecto</a>
