@model Lab_04_ED.Models.Admin

@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1>Menu Principal</h1>
    <h2>
        Organizador De Tareas 
    </h2>
    <p>

        Cuarto Laboratorio de Estructura de Datos "Implementacion De Tablas Hash & Colas de Prioridad"
    </p>

</div>
<hr /> <hr /> <hr />
<a asp-action="IniciarSesion" class="btn btn-dark btn-lg btn-block" role="button">Encargado del Proyecto </a>
<hr />
<a asp-action="IniciarDesarrollador" class="btn btn-dark btn-lg btn-block" role="button">Desarrollador del Proyecto</a>
